.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  body{
    background-color: #706e6e;
  }
  img {
    width: 50%;
    max-width: 200px;
    height: auto;
  }
  
  .btn-entrar {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  @media screen and (max-width: 480px) {
    .container {
      height: auto;
    }
    
    img {
      width: 80%;
      max-width: 300px;
    }
    
    .btn-entrar {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 480px) {
    .container {
      height: auto;
    }
    
    img {
      width: 80%;
      max-width: 300px;
    }
    
    form {
      width: 90%;
      max-width: none;
    }
    
    .btn-entrar {
      font-size: 1rem;
    }
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  .btn-entrar {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
  }
  input[type="text"] {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
            